/** @section Decoration*/

// divider
.divider {
  display: inline-block;
  border: 0;
  font-size: 0;
  line-height: 0;
  height: 3px;
  max-width: 100px;
  width: 100%;
}

hr.divider {
	height: 3px;
	opacity: 1;
}

h3 + .divider {
  margin-top: 20px;
  & + h5 {
    margin-top: 35px;
    & + p {
      margin-top: 15px;
      
    }
  }
}

@include media-breakpoint-up(xxl) {
  h3 + .divider {
    margin-top: 40px;
  }
}

.divider-sm {
  height: 2px;
  max-width: 60px;
}

.divider-default {
  background: $primary;
}

.divider-secondary {
  background: $secondary;
}

.divider-thin {
  border-top: 1px solid #d2d5e4;
}

.divider-xl {
  max-width: 1770px;
  width: 100%;
  margin: 30px auto;
  border-bottom: 1px solid #cacbd3;
}
