/** @section Sections */

section {
	position: relative;
}

.section-xs { padding: 40px 0; }

.section-sm,
.section-md,
.section-lg,
.section-xl, {
	padding: 60px 0;
}


@include media-breakpoint-up(md) {
	.section-md {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.section-lg {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.section-xl {
		padding-top: 100px;
		padding-bottom: 100px;
	}
}

@include media-breakpoint-up(lg) {
	.section-xl {
		padding-top: 120px;
		padding-bottom: 120px;
	}

}

@include media-breakpoint-up(xl) {
	.section-md {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.section-lg {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.section-xl {
		padding-top: 130px;
		padding-bottom: 130px;
	}
}

@include media-breakpoint-up(xxl) {
	.section-lg {
		padding-top: 125px;
		padding-bottom: 125px;
		&.section-way-point {
			padding-top: 165px;
		}
	}

	.section-xl {
		padding-top: 165px;
		padding-bottom: 165px;
	}

}

@include media-breakpoint-up (xxxl) {
	.section-xl {
		padding-top: 200px;
		padding-bottom: 200px;
	}
}

