/** @section Text Styling*/

// Text spacing

.text-spacing-0 {
  letter-spacing: 0;
}

.text-spacing-sm {
  letter-spacing: $spacing-sm;
}

.text-spacing-md {
  letter-spacing: $spacing-md;
}

.text-spacing-lg {
  letter-spacing: $spacing-lg;
}