<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="position-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/">Introduction</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/setup-jenkins-gcp-traefik-kube">Google Cloud Platform</a>
        </li>
      </ul>
    </div>
  </nav>
  