
.page {
	position: relative;
	overflow: hidden;
	min-height: 100vh !important;

	.text-primary {
		color: $primary;
	}
	.text-secondary {
		color: $secondary;
	}
	.text-gray-1 {
		color: $gray-1;
	}
	.text-gray-light {
		color: $gray-light;
	}
	.text-gray-4 {
		color: $gray-4;
	}
	.text-gray-darker {
		color: $gray-darker;
	}

	a {
		&.text-secondary-1 {
			&, &:focus, &:active {
				color: inherit;
			}
			&:hover {
				color: $secondary-1;
			}
		}
		&.text-gray-darker {
			color: $gray-darker;
			&:hover {
				color: $primary;
			}
		}
	}
}

// Page header
.page-header {
	position: relative;
	//z-index: 101;
	padding: 0;
	margin: 0;
	border-bottom: none;
}

