-
    var
        fonts = "//fonts.googleapis.com/css?family=Raleway:200,400%7CLato:300,400,300italic,700%7CMontserrat:900"
        html_class = "wide wow-animation"
        switcherCounter = 0
        contactFormCounter = 0
        subscribeFormCounter = 0
        brandName = 'IT Company',
                logoDefault = 'logo-default-149x42',
                blogLink = '#'
        postLink = '#',
                videoLink = '//www.youtube.com/embed/iYsTvn1bHfU',
                videoLinkPop = '//www.youtube.com/watch?v=iYsTvn1bHfU',
                getTemplateLink = '#template-link',
                builderLink = '#builder-link',
        menu = [
            {
                title: 'Home',
                link: '#home',
                active: true
            },
            {
                title: 'About Us',
                link: '#about-us',
            },
            {
                title: 'Our Services',
                link: '#services',
            },
            {
                title: 'Projects',
                link: '#projects',
            },
            {
                title: 'Our Team',
                link: '#our-team',
            },
            {
                title: 'Testimonials',
                link: '#testimonials',
            },
            {
                title: 'News',
                link: '#news',
            },

        ]