include _mixins
include _config

block variables

doctype html

html(lang="en" class=html_class)
	head
		// Site Title
		block title
			title=pageName
		
		meta(name="format-detection" content="telephone=no")
		meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(charset='utf-8')
		
		link(rel="icon" href="images/favicon.ico" type="image/x-icon")
		
		// Stylesheets
		link(rel="stylesheet" type="text/css" href=fonts)
		link(rel="stylesheet" href="css/bootstrap.css")
		link(rel="stylesheet" href="css/fonts.css")
		link(rel="stylesheet" href="css/style.css")

	body
		// Page preloader
		.page-loader
			.page-loader-body
				.page-loader__brand
					+png(logoDefault)
				.preloader-wrapper.big.active
					.spinner-layer.spinner-blue
						.circle-clipper.left: .circle
						.gap-patch: .circle
						.circle-clipper.right: .circle
					.spinner-layer.spinner-red
						.circle-clipper.left: .circle
						.gap-patch: .circle
						.circle-clipper.right: .circle
					.spinner-layer.spinner-yellow
						.circle-clipper.left: .circle
						.gap-patch: .circle
						.circle-clipper.right: .circle
					.spinner-layer.spinner-green
						.circle-clipper.left: .circle
						.gap-patch: .circle
						.circle-clipper.right: .circle
		// Page
		.page
			block page
		
		// Global Mailform Output
		#form-output-global.snackbars
		
		// Javascript
		script(src="js/core.min.js")
		script(src="js/script.js")

		if(pageName === 'Home')
			// coded by retoyfer

