//- Includes
include ../elements/_ui-gallery-item
include ../elements/_subscribe-form


mixin footer-default(obj)
	// Footer Default
	- if (typeof(obj) === 'undefined') var obj = {};
	footer.section.page-footer.page-footer-default.text-start(class= obj.className)
		.container-wide
			.row.row-50.justify-content-sm-center
				.col-md-6.col-xl-3
					.inset-xxl
						h6 About Us
						p.text-spacing-sm We at Rhombus know how to design and develop a website or app of any complexity. Regardless of what you are looking for, our experts can deliver a solution, which will elevate your business to unbelievable heights.
				
				.col-md-6.col-xl-2
					h6 Quick Links
					ul.list-marked.list-marked-primary
						li: a(href='#') About Us
						li: a(href='#') Services
						li: a(href='#') Blog
						li: a(href='#') Portfolio
						li: a(href='#') Contacts
				
				.col-md-6.col-xl-4
					h6 Gallery
					
					.footer-gallery.text-center(data-lightgallery='group')
						.row.row-10.row-narrow
							.col-6.col-sm-4.col-md-4
								+gallery-item({
									img: 'footer-gallery-1-300x300',
									original: 'footer-gallery-1-300x300_original' 
								})
							.col-6.col-sm-4.col-md-4
								+gallery-item({
									img: 'footer-gallery-2-300x300',
									original: 'footer-gallery-2-300x300_original'
								})
							.col-6.col-sm-4.col-md-4
								+gallery-item({
									img: 'footer-gallery-3-300x300',
									original: 'footer-gallery-3-300x300_original'
								})
							.col-6.col-sm-4.col-md-4
								+gallery-item({
									img: 'footer-gallery-4-300x300',
									original: 'footer-gallery-4-300x300_original'
								})
							.col-6.col-sm-4.col-md-4
								+gallery-item({
									img: 'footer-gallery-5-300x300',
									original: 'footer-gallery-5-300x300_original'
								})
							.col-6.col-sm-4.col-md-4
								+gallery-item({
									img: 'footer-gallery-6-300x300',
									original: 'footer-gallery-6-300x300_original'
								})
							
				.col-md-6.col-xl-3
					h6 Contact Us
					// RD Mailform
					form.rd-mailform.rd-mailform-sm(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
						.form-wrap.form-wrap-validation
							input.form-input(id='form-footer-name' type="text" name="name" data-constraints='@Required')
							label.form-label(for='form-footer-name') Name
						.form-wrap.form-wrap-validation
							input.form-input(id='form-footer-email' type="email" name="email" data-constraints="@Email @Required")
							label.form-label(for='form-footer-email') E-mail
						.form-wrap.form-wrap-validation
							label.form-label(for='form-footer-message') Message
							textarea.form-input(id='form-footer-message' name="message" data-constraints="@Required")
						.form-button
							button.button.button-sm.button-primary(type='submit') Send message
			
			p.right &#169;&nbsp;#[span(class="copyright-year")] All Rights Reserved