<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Home</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="/fonts/google-fonts.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fonts.min.css">
    <link rel="stylesheet" href="/css/style.min.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <!-- Page preloader-->
    <div class="page-loader">
      <div class="page-loader-body">
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-red">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-yellow">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-green">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page-->
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap rd-navbar-centered">
          <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fullwidth" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxxl-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="1px" data-lg-stick-up-offset="1px" data-xl-stick-up-offset="1px" data-xxl-stick-up-offset="1px" data-xxxl-stick-up-offset="1px" data-stick-up="true" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true" data-xxxl-stick-up="true">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand-name" href="#"><img class="logo-default" src="images/logo-default-149x42.png" alt="" width="149" height="42"/></a></div>
              </div>
              <div class="rd-navbar-aside-left">
                <div class="rd-navbar-nav-wrap">
                  <ul class="rd-navbar-nav">
                    <li class="active"><a href="#home">Home</a></li>
                    <li><a href="#about-me">About Me</a></li>
                    <li><a href="#devops">DevOps</a></li>
                    <li><a href="#ai">AI</a></li>
                    <li><a href="#get-in-touch">Get In Touch</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>

      <!-- Inspirational technologies-->
      <section class="section bg-gray-darker text-center" id="home">
        <div class="section-xl bg-vide" data-vide-bg="mp4: video/office-day, poster: video/office-day" data-vide-options="posterType: jpg, position: 0% 50%">
          <div class="container container-wide">
            <div class="row row-50 justify-content-md-center">
              <div class="col-md-10 col-xl-9">
                <h1>Modern IT technologies</h1>
                <p class="big">Modern IT technologies are shaping how businesses operate and how people interact with technology. It is various innovative technologies that make your work not only easier but more productive without unnecessary coding.</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Hi, we are EFFECTIVE-->
      <section class="section section-lg bg-default" id="about-me">
        <div class="container container-bigger">
          <div class="row row-50 justify-content-md-center align-items-lg-center justify-content-xl-between flex-lg-row-reverse">
            <div class="col-md-9 col-lg-5 col-xl-5">
              <h3>About Me</h3>
              <div class="divider divider-default"></div>
              <p class="heading-5">I am a senior fullstack ReactJS/NodeJS developer with a solid experience in DevOps (AWS and GCP). I am an expert bringing you innovative web and IT solutions that combine DevOps, AI and flawless functionality in every project.</p>
              <p class="text-spacing-sm">I provide IT services for companies all over the world. I operate on a managed services model that offers proactive outsourced IT services as well as design, development, and management services at affordable, consistent rates.</p>
            </div>
            <div class="col-md-9 col-lg-6"><img src="images/video-poster.jpg" alt="" width="720" height="459" loading="lazy"/>
            </div>
          </div>
        </div>
      </section>

      <!-- DevOps-->
      <section class="section section-lg bg-gray-lighter text-center" id="devops">
        <div class="container-wide">
          <div class="text-center">
            <h3>DevOps</h3>
            <div class="divider divider-default"></div>
          </div>
          <div class="row row-50 justify-content-sm-center offset-custom-2">
            <div class="col-sm-10 col-md-6 col-lg-4 col-xl-3">
              <div class="thumbnail-classic flex-md-row flex-lg-column flex-column thumbnail-classic-primary">
                <div class="thumbnail-classic-icon"><span class="icon mdi mdi-cellphone-android"></span></div>
                <div class="thumbnail-classic-caption">
                  <h6 class="thumbnail-classic-title">Kubernetes</h6>
                  <hr class="divider divider-default divider-sm"/>
                  <p class="thumbnail-classic-text">
                    Kubernetes is an open-source container orchestration platform that automates the deployment, scaling, and management of containerized applications. It helps ensure high availability and efficient resource utilization across clusters of hosts.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-4 col-xl-3">
              <div class="thumbnail-classic flex-md-row flex-lg-column flex-column thumbnail-classic-primary">
                <div class="thumbnail-classic-icon"><span class="icon mdi mdi-television-guide"></span></div>
                <div class="thumbnail-classic-caption">
                  <h6 class="thumbnail-classic-title">Amazon Web Services</h6>
                  <hr class="divider divider-default divider-sm"/>
                  <p class="thumbnail-classic-text">A comprehensive cloud platform that provides a wide range of services, including computing power, storage, databases, and machine learning, on a pay-as-you-go basis. It enables businesses to build and scale applications globally with reliability, security, and performance.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-4 col-xl-3">
              <div class="thumbnail-classic flex-md-row flex-lg-column flex-column thumbnail-classic-primary">
                <div class="thumbnail-classic-icon"><span class="icon mdi mdi-headset"></span></div>
                <div class="thumbnail-classic-caption">
                  <h6 class="thumbnail-classic-title">Google Cloud Platform</h6>
                  <hr class="divider divider-default divider-sm"/>
                  <p class="thumbnail-classic-text">It offers a suite of cloud computing services that run on the same infrastructure Google uses for its products, like Search and YouTube. It provides solutions for computing, data analytics, machine learning, and scalable storage.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-4 col-xl-3">
              <div class="thumbnail-classic flex-md-row flex-lg-column flex-column thumbnail-classic-primary">
                <div class="thumbnail-classic-icon"><span class="icon mdi mdi-web"></span></div>
                <div class="thumbnail-classic-caption">
                  <h6 class="thumbnail-classic-title">Helm Charts</h6>
                  <hr class="divider divider-default divider-sm"/>
                  <p class="thumbnail-classic-text">Package managers for Kubernetes, simplifying the deployment and management of applications by bundling together all necessary resources into a single, reusable package. They allow users to version, share, and configure applications easily</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Brands-->
      <!-- Our AI-->
      <section class="section section-lg text-center bg-default" id="ai">
        <div class="container container-bigger">
          <h3>AI</h3>
          <div class="row row-50" data-lightgallery="group">
            <div class="col-sm-12 col-md-6 col-lg-4"><a class="gallery-item titled-gallery-item" href="images/neural-network.webp" data-lightgallery="item">
                <div class="gallery-item-image">
                  <figure><img src="images/neural-network.webp" alt="" width="570" height="380" loading="lazy"/>
                  </figure>
                  <div class="caption">
                  </div>
                </div></a>
              <div class="titled-gallery-caption"><a href="#">Neural Network</a></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4"><a class="gallery-item titled-gallery-item" href="images/cnn.webp" data-lightgallery="item">
                <div class="gallery-item-image">
                  <figure><img src="images/cnn.webp" alt="" width="570" height="380" loading="lazy"/>
                  </figure>
                  <div class="caption">
                  </div>
                </div></a>
              <div class="titled-gallery-caption"><a href="#">Convolutional Neural Network</a></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4"><a class="gallery-item titled-gallery-item" href="images/gan.webp" data-lightgallery="item">
                <div class="gallery-item-image">
                  <figure><img src="images/gan.webp" alt="" width="570" height="380" loading="lazy"/>
                  </figure>
                  <div class="caption">
                  </div>
                </div></a>
              <div class="titled-gallery-caption"><a href="#">GAN</a></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4"><a class="gallery-item titled-gallery-item" href="images/feedforward.webp" data-lightgallery="item">
                <div class="gallery-item-image">
                  <figure><img src="images/feedforward.webp" alt="" width="570" height="380" loading="lazy"/>
                  </figure>
                  <div class="caption">
                  </div>
                </div></a>
              <div class="titled-gallery-caption"><a href="#">Feedforward neural network</a></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4"><a class="gallery-item titled-gallery-item" href="images/recurrent.webp" data-lightgallery="item">
                <div class="gallery-item-image">
                  <figure><img src="images/recurrent.webp" alt="" width="570" height="380" loading="lazy"/>
                  </figure>
                  <div class="caption">
                  </div>
                </div></a>
              <div class="titled-gallery-caption"><a href="#">Recurrent Neural Network</a></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4"><a class="gallery-item titled-gallery-item" href="images/ml.webp" data-lightgallery="item">
                <div class="gallery-item-image">
                  <figure><img src="images/ml.webp" alt="" width="570" height="380" loading="lazy"/>
                  </figure>
                  <div class="caption">
                  </div>
                </div></a>
              <div class="titled-gallery-caption"><a href="ml.webp">Machine Learning</a></div>
            </div>
          </div>
           <!--<a class="button button-primary" href="#">view all projects	</a>-->
        </div>
      </section>
      <!-- Get In Touch-->
      <section class="section section-lg bg-default text-center" id="get-in-touch">
        <div class="container container-bigger">
          <h3>Get In Touch</h3>
          <hr class="divider divider-default">
          <div class="row row-50 justify-content-center">
            <div class="col-md-6 col-lg-3">
              <div class="team-classic">
                <div class="team-classic-image">
                  <figure><img src="images/me.webp" alt="" width="270" height="270" loading="lazy"/>
                  </figure>
                  <div class="team-classic-image-caption">
                    <ul class="list-inline list-team">
                      <li><a class="icon icon-sm-bigger icon-white mdi mdi-twitter" href="https://x.com/alex_oheneralov"></a></li>
                      <li><a class="icon icon-sm-bigger icon-white mdi mdi-instagram" href="https://www.linkedin.com/in/oleksandr-heneralov-82389640/"></a></li>
                      <li><a class="icon icon-sm-bigger icon-white mdi mdi-linkedin" href="https://www.linkedin.com/in/oleksandr-heneralov-82389640/"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="team-classic-caption">
                  <h5><a class="team-classic-title" href="https://www.linkedin.com/in/oleksandr-heneralov-82389640/">Oleksandr Generalov</a></h5>
                  <p class="team-classic-job-position">Fullstack Developer</p><a class="button button-xs button-default-outline" href="https://www.linkedin.com/in/oleksandr-heneralov-82389640/">get in touch</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Page Footer-->
      <!-- Footer Default-->
      <footer class="section page-footer page-footer-default text-start bg-gray-darker">
        <div class="container-wide">
          <div class="row row-50 justify-content-sm-center">
            <div class="col-md-6 col-xl-3">
              <div class="inset-xxl">
                <h6>About Me</h6>
                <p class="text-spacing-sm">I know how to design and develop a website or app of any complexity. Regardless of what you are looking for, I can can deliver a solution, which will elevate your business to unbelievable heights.</p>
              </div>
            </div>
            <div class="col-md-6 col-xl-2">
              <h6>Quick Links</h6>
              <ul class="list-marked list-marked-primary">
                <li><a href="#">About Me</a></li>
                <li><a href="#">DevOps</a></li>
                <li><a href="#">AI</a></li>
                <li><a href="#">Get In Touch</a></li>
                <li><a href="#">Contacts</a></li>
              </ul>
            </div>
            <div class="col-md-6 col-xl-3">
              <h6>Contact Me</h6>
              <!-- RD Mailform-->
              <form class="rd-mailform rd-mailform-sm" data-form-output="form-output-global" data-form-type="contact" method="post" action="/contacts">
                <div class="form-wrap form-wrap-validation">
                  <input class="form-input" id="form-footer-name" type="text" name="name" data-constraints="@Required"/>
                  <label class="form-label" for="form-footer-name">Name</label>
                </div>
                <div class="form-wrap form-wrap-validation">
                  <input class="form-input" id="form-footer-email" type="email" name="email" data-constraints="@Email @Required"/>
                  <label class="form-label" for="form-footer-email">E-mail</label>
                </div>
                <div class="form-wrap form-wrap-validation">
                  <label class="form-label" for="form-footer-message">Message</label>
                  <textarea class="form-input" id="form-footer-message" name="message" data-constraints="@Required"></textarea>
                </div>
                <div class="g-recaptcha" data-sitekey="6Lc3n40qAAAAAJbpg4wf4hGg_eDh0AleM1ZxjBs8"></div>
                <div class="form-button">
                  <button class="button button-sm button-primary" type="submit">Send message</button>
                </div>
              </form>
            </div>
          </div>
          <p class="right">&#169;&nbsp;<span class="copyright-year"></span> All Rights Reserved</p>
        </div>
      </footer>
      <!-- Modal-->
      <div class="modal fade" id="contact-me" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header"> 
              <h4 class="modal-title">Contact Us</h4>
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class="rd-mailform rd-mailform-sm" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                <div class="form-wrap form-wrap-validation">
                  <input class="form-input" id="modal-form-name" type="text" name="name" data-constraints="@Required">
                  <label class="form-label" for="modal-form-name">Name</label>
                </div>
                <div class="form-wrap form-wrap-validation">
                  <input class="form-input" id="modal-form-email" type="email" name="email" data-constraints="@Email @Required">
                  <label class="form-label" for="modal-form-email">E-mail</label>
                </div>
                <div class="form-wrap form-wrap-validation">
                  <input class="form-input" id="modal-form-phone" type="text" name="phone" data-constraints="@Numeric @Required">
                  <label class="form-label" for="modal-form-phone">Phone</label>
                </div>
                <div class="form-wrap form-wrap-validation">
                  <textarea class="form-input" id="modal-form-message" name="message" data-constraints="@Required"></textarea>
                  <label class="form-label" for="modal-form-message">Message</label>
                </div>
                <div class="form-button">
                  <button class="button button-sm button-primary" type="submit">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="/js/core.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>