<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="bg-light">
  <div class="container-fluid">
    <main>
      <h1>Welcome</h1>
      <p class="lead">Devops & Machine Learning</p>
      <p align="justify">
        DevOps is a collaborative approach that unites software development (Dev) and IT operations (Ops) to improve the
        speed, efficiency, and quality of software delivery. By using practices like continuous integration and continuous
        delivery (CI/CD), DevOps aims to automate testing, deployment, and monitoring, creating a smoother path from code
        commit to production. Tools like Jenkins, Docker, Kubernetes, and cloud services (e.g., AWS, GCP) are often
        essential for building automated, scalable pipelines. DevOps also emphasizes a culture of collaboration and shared
        responsibility between developers and operations teams to ensure rapid, reliable software releases. Ultimately, it
        aims to shorten development cycles, increase deployment frequency, and improve product quality and customer
        satisfaction.
      </p>
      <p class="lead">Key concepts in DevOps include:</p>
      <div style="text-align:left">
        <ul class="list-group">
          <li class="list-group-item">Continuous Integration (CI). Regularly merging code changes into a shared repository
            and running automated tests to catch issues early in the development process.
          </li>
          <li class="list-group-item">Continuous Delivery (CD): Automating the deployment of code to production (or
            production-like) environments to ensure that new features, bug fixes, and configurations are always ready to
            be
            released.</li>
          <li class="list-group-item">Infrastructure as Code (IaC): Managing and provisioning computing infrastructure
            through machine-readable configuration files rather than manual processes, enabling consistency and version
            control in infrastructure.</li>
          <li class="list-group-item">Monitoring and Logging: Continuously observing application and infrastructure
            performance to detect, troubleshoot, and resolve issues quickly, often using tools like Prometheus, Grafana,
            or
            ELK stack.</li>
          <li class="list-group-item">Collaboration and Communication: Breaking down silos between development,
            operations,
            and other stakeholders to foster a culture of shared responsibility, rapid feedback, and continuous
            improvement.
          </li>
        </ul>
      </div>
      <p class="lead">Tutorials</p>
      <div style="text-align:left">
        <a href="/setup-jenkins-gcp-traefik-kube" class="btn btn-primary">Setting up two simple microservices in Express.js using Jenkins, Traefik, Kubernetes, and Google Cloud Platform (GCP)</a>
      </div>
    </main>
</div>
</body>

</html>