/** @section Footers */

[class*='bg-'] + .page-footer-default,
* + .page-footer-default,
.page-footer-default {
  padding: 60px 0 20px;
}

.page-footer-default {
  .footer-gallery {
    max-width: 470px;
    margin-right: auto;
  }
  
  h6 + * { margin-top: 22px; }
  @include media-breakpoint-up(xxl) {
    h6 + * { margin-top: 30px; }
  }
}

@include media-breakpoint-up(md) {
  .page-footer-default {
    text-align: left;
  }
  [class*='bg-'] + .page-footer-default,
  * + .page-footer-default,
  .page-footer-default {
    padding: 90px 0 30px;
  }
}

p.right {
  letter-spacing: $spacing-sm;
	color: $gray-light;
  a {
    &, &:focus, &:active { color: $secondary; }
    &:hover { color: $secondary; }
  }
}

* + .page-footer-icon-list { margin-top: 30px; }
* + p.right { margin-top: 40px; }

@include media-breakpoint-up(md) {
  * + .page-footer-icon-list { margin-top: 35px; }
  * + p.right { margin-top: 50px; }
}

@include media-breakpoint-up(xxl) {
  * + p.right { margin-top: 90px; }
}
