/** @section Links */


a {
	color: $link-color;
	text-decoration: none;
	transition: .25s;

	&:hover,
	&:focus {
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
		outline: none;
	}

	&[href*='tel'],
	&[href*='mailto'] {
		white-space: nowrap;
	}
}


.link-hover {
	color: $link-hover-color;
}

.link-press {
	color: $link-press-color;
}

.link-secondary {
  color: $secondary;
  &:hover {
    color: $primary;
  }
}

.link-secondary-1 {
	color: $white;
	&:hover {
		color: $secondary-1;
	}
}

// Link image 
.link-image {
  display: inline-block;
  max-width: 80%;
  text-align: center;
  
  img {
    opacity: .5;
    width: auto;
    transition: .33s;
  }
  
  &:hover {
    img {
      opacity: 1;
    }
  }
}

.link-text-color {
  color: $body-color;
  &:hover {
    color: $secondary;
  }
}

