/** @section Lists*/

.list-xxs {
	> li + li {
		margin-top: 10px;
	}
}

.list-xs {
	> li + li {
		margin-top: 17px;
	}
}

.list-sm {
	> li + li {
		margin-top: 20px;
	}
}

.list-lg {
	> li + li {
		margin-top: 25px;
	}
}

.list-xl {
	> li + li {
		margin-top: 35px;
	}
}

@include media-breakpoint-up(md) {
	.list-lg {
		> li + li {
			margin-top: 45px;
		}
	}

	.list-xl {
		> li + li {
			margin-top: 60px;
		}
	}
}

@include media-breakpoint-up(xl) {
	.list-sm {
		> li + li {
			margin-top: 30px;
		}
	}

	.list-lg {
		> li + li {
			margin-top: 60px;
		}
	}

	.list-xl {
		> li + li {
			margin-top: 80px;
		}
	}
}

@include media-breakpoint-up(xxl) {
	.list-xl {
		> li + li {
			margin-top: 120px;
		}
	}
}

/**
* List marked
*/
.list-marked {
	text-align: left;

	> li {
		position: relative;
		padding-left: 25px;

		&:before {
			position: absolute;
			top: .21em;
			left: 0;
			content: '\f238';
			font-family: 'Material Design Icons';
			font-size: 1.22em;
			font-weight: 400;
			line-height: 1;
			color: #b7b7b7;
		}
	}

	a {
		color: $gray-darker;

		&:hover {
			color: $primary;
		}
	}

	> li + li {
		margin-top: 10px;
	}
}


/**
* List ordered
*/
.list-ordered {
	padding-left: 25px;
	counter-reset: li;
	text-align: left;

	li {
		position: relative;
		padding-left: 25px;

		&:before {
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			width: 15px;
			content: counter(li, decimal) '.';
			counter-increment: li;
			color: $gray-darker;
		}
	}

	li + li {
		margin-top: 10px;
	}
}

.list-marked-primary {
	> li {
		&:before {
			color: $gray-1;
		}

		a {
			&, &:focus, &:active {
				color: $primary;
			}

			&:hover {
				color: $white;
			}
		}
	}
}

/*
* List inline
*/
.list-inline {
	> li {
		display: inline-block;
	}
}

// List terms 
.list-terms {
	dt + dd {
		margin-top: 15px;
	}

	dd + dt {
		margin-top: 25px;
	}
}

@include media-breakpoint-up(xl) {
	.list-marked-primary {
		> li {
			padding-left: 35px;
		}
	}
}

@include media-breakpoint-up(xxl) {
	.list-terms {
		dt + dd {
			margin-top: 20px;
		}

		dd + dt {
			margin-top: 50px;
		}
	}
}